.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.i-select {
  font-size: 14px;
}
.i-select-title {
  position: relative;
  display: flex;
  height: 44px;
  align-items: center;
  background: #fff;
}
.i-select-title__action {
  width: 0;
  flex: 0 0 120rpx;
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
}
.i-select-title__action.primary {
  color: #ffb700;
}
.i-select-title__title {
  flex: 1;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
.i-select-title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #e9eaec;
  border-bottom-width: 1px;
}
.i-select-options {
  height: 270px;
  background: #fff;
}
.i-select-options-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 44px;
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.i-select-options-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #e9eaec;
  border-bottom-width: 1px;
}
.i-select-options-item__label {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.i-select-options-item__icon {
  flex: 0 0 32px;
  width: 32px;
  text-align: right;
  visibility: hidden;
}
.i-select-options-item--active {
  color: #ffb700;
}
.i-select-options-item--active .i-select-options-item__icon {
  visibility: visible;
}
.i-select-options-item--disabled {
  color: #bbbec4;
}
.i-select-options-item--disabled .i-select-options-item__icon {
  color: #bbbec4 !important;
}
