.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.i-picker {
  background: #fff;
}
.i-picker-hd {
  position: relative;
  display: flex;
  height: 44px;
  align-items: center;
  background: #fff;
}
.i-picker-hd__action {
  width: 0;
  flex: 0 0 120rpx;
  padding: 0 10px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  box-sizing: border-box;
  font-size: 14px;
}
.i-picker-hd__action.primary {
  color: #ffb700;
}
.i-picker-hd__title {
  flex: 1;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
.i-picker-hd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #e9eaec;
  border-bottom-width: 1px;
}
.i-picker-column {
  text-align: center;
}
.i-picker-column-item {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.i-picker-column-item text {
  flex: 1;
  padding: 0 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.i-picker-item-indicator {
  height: 44px;
  line-height: 44px;
  font-size: 14px;
}
