.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.i-calendar-weekdays {
  height: 31px;
  background: #F9F9F9;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #6E6F73;
  box-sizing: border-box;
  position: relative;
}
.i-calendar-weekdays::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #e9eaec;
  border-bottom-width: 1px;
}
.i-calendar-weekdays .i-calendar__weekday {
  width: 14.28571429%;
  width: calc(100% / 7);
  line-height: 31px;
  text-align: center;
}
.i-calendar {
  position: relative;
  background: #fff;
  height: 255px;
  width: 100%;
  overflow: hidden;
}
.i-calendar-content {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}
.i-calendar-bd {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.i-calendar-hd {
  position: relative;
  width: 100%;
}
.i-calendar-hd:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  transform: scale(0.5);
  transform-origin: 0 0;
  pointer-events: none;
  box-sizing: border-box;
  border: 0 solid #e9eaec;
  border-bottom-width: 1px;
}
.i-calendar-hd + .i-calendar-bd {
  height: calc(100%);
}
.i-calendar-toolbar {
  display: flex;
  text-align: center;
}
.i-calendar-months {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.i-calendar-months-content {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
}
.i-calendar__month {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.i-calendar-days {
  height: 58px;
  display: flex;
  flex-shrink: 1;
  width: 100%;
  position: relative;
}
.i-calendar-days:last-child:after {
  display: none;
}
.i-calendar__day {
  position: relative;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 14.28571429%;
  width: calc(100% / 7);
  color: #3d4145;
  font-size: 14px;
}
.i-calendar__day-inner {
  position: relative;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  z-index: 2;
}
.i-calendar__day--prev,
.i-calendar__day--next {
  color: #cccccc;
}
.i-calendar__day--term:not(.i-calendar__day--next):not(.i-calendar__day--prev):not(.i-calendar__day--weekend) .i-calendar__lunar {
  color: #FC5528;
}
.i-calendar__marker {
  position: absolute;
  right: 6px;
  top: 5px;
  width: 3px;
  height: 6px;
  border-color: #66D0AA;
  border-style: solid;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.i-calendar__marker.dot {
  position: absolute;
  right: initial;
  top: initial;
  left: 50%;
  bottom: -6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border-color: transparent;
  border-width: 0;
  transform: translateX(-50%);
  background: #ffb700;
}
.i-calendar__day--today .i-calendar__day-inner {
  background: #e3e3e3;
}
.i-calendar__day--weekend .i-calendar__day-inner .i-calendar__text,
.i-calendar__day--weekend .i-calendar__day-inner .i-calendar__lunar {
  color: #B6B7B9;
}
.i-calendar__day--disabled {
  cursor: auto;
}
.i-calendar__day--disabled .i-calendar__text,
.i-calendar__day--disabled .i-calendar__lunar {
  color: #d4d4d4 !important;
}
.i-calendar__text {
  position: relative;
  display: inline-block;
  border-radius: 100%;
  z-index: 1;
}
.i-calendar__lunar {
  font-size: 11px;
  position: relative;
  z-index: 1;
}
.i-calendar__range {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 41px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 0;
  background: #FFF2D0;
}
.i-calendar__day--in-range .i-calendar__day-inner {
  background: #FFF2D0;
}
.i-calendar__day--in-range .i-calendar__day-inner {
  background: #FFF2D0;
}
.i-calendar__day--last .i-calendar__range {
  display: none;
}
.i-calendar__day--selected .i-calendar__day-inner {
  background: #FFF5D9;
}
.i-calendar__day--selected .i-calendar__day-inner .i-calendar__text,
.i-calendar__day--selected .i-calendar__day-inner .i-calendar__lunar {
  color: #ffb700 !important;
}
.i-calendar.is-range .i-calendar__day--selected .i-calendar__day-inner {
  background: #ffb700;
}
.i-calendar.is-range .i-calendar__day--selected .i-calendar__day-inner .i-calendar__text,
.i-calendar.is-range .i-calendar__day--selected .i-calendar__day-inner .i-calendar__lunar {
  color: #fff !important;
}
