@import './styles/layout.styl'
.con-demo
    header
        height 40px
        .con-menu-vc
            height 40px
        ul
            margin 0
            height 40px
            li
                margin 2px
                padding-top 0!important
                padding-bottom 0!important