.i-tabs-tab {
  flex: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.i-tabs-tab-bar {
  display: block;
  width: 100%;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffb700;
}
.i-tabs-tab-title {
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  color: #80848f;
}
.i-tabs-tab-title-current {
  color: #ffb700;
}
.i-tabs-tab-scroll {
  display: inline-block;
  margin: 0 10px;
}
