.i-cell {
  position: relative;
  padding: 12px 15px;
  display: flex;
  background: #fff;
  align-items: center;
  line-height: 1.4;
  font-size: 14px;
  overflow: visible;
}
.i-cell::after {
  content: ' ';
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  transform: scaleY(0.5);
  border-bottom: 1px solid #e9eaec;
  left: 0;
  bottom: 0;
  border-bottom-width: 1px;
  left: 15px;
  right: 0;
}
.i-cell-last::after {
  display: none;
}
.i-cell-icon {
  margin-right: 5px;
  line-height: 1;
  display: flex;
  align-items: center;
}
.i-cell-icon:empty {
  display: none;
}
.i-cell-bd {
  flex: 1;
}
.i-cell-text {
  line-height: 24px;
  font-size: 14px;
}
.i-cell-desc {
  line-height: 1.2;
  font-size: 12px;
  color: #80848f;
}
.i-cell-ft {
  position: relative;
  text-align: right;
  color: #495060;
  display: flex;
  align-items: center;
}
.i-cell-access .i-cell-ft {
  padding-right: 13px;
}
.i-cell-access .i-cell-ft::after {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 2px;
  border-width: 2px 2px 0 0;
  border-color: #dddee1;
  border-style: solid;
  transform: translateY(-50%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.i-cell-access.animated .i-cell-ft::after {
  transition: .3s all;
}
.i-cell-access.up .i-cell-ft::after {
  transform: translateY(-50%) matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
}
.i-cell-access.right .i-cell-ft::after {
  transform: translateY(-50%) matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
.i-cell-access.down .i-cell-ft::after {
  transform: translateY(-50%) matrix(0.71, 0.71, 0.71, -0.71, 0, 0);
}
.i-cell-access.left .i-cell-ft::after {
  transform: translateY(-50%) matrix(-0.71, 0.71, 0.71, 0.71, 0, 0);
}
.i-input-title {
  flex: 0 0 90px;
  width: 90px;
}
.i-input-error .i-input-input,
.i-input-error .i-input-placeholder {
  color: #ff6331;
}
.i-cell-ft-icon {
  display: flex;
  margin-right: 10rpx;
  min-height: 24px;
  align-items: center;
  justify-content: center;
}
.i-input-input {
  padding: 1px 0;
  padding-right: 10rpx;
  height: auto;
  font-size: 14px;
}
.i-input-input-textarea {
  min-height: 1.4rem;
}
.i-input-input-right {
  text-align: right;
}
.i-input-required .i-cell-hd::before {
  position: absolute;
  content: '*';
  font-size: 14px;
  color: #ff6331;
}
.i-input-required .i-cell-hd text {
  margin-left: 10px;
}
