.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.i-badge {
  position: relative;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  vertical-align: middle;
}
.i-badge-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
  top: -6px;
  right: 0;
  height: 18px;
  border-radius: 9px;
  min-width: 18px;
  background: #FC5528;
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
  transform-origin: -10% center;
  z-index: 10;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
.i-badge-count-alone {
  top: auto;
  display: block;
  position: relative;
  transform: translateX(0);
}
.i-badge-dot {
  position: absolute;
  transform: translateX(-50%);
  transform-origin: 0 center;
  top: -4px;
  right: -8px;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: #FC5528;
  z-index: 10;
  box-shadow: 0 0 0 1px #fff;
}
